In [2]:
'''
Variable
comments
if-else
loops in python
data structures in python
'''

### Functions in Python

In Function, you'll add such instructions which will be used multiple times

Functions support re-usability concept

It's a set of instructions clubed together, which will be used in your program

In [3]:
# Function in C : void find_name(int a, int b){}

In [5]:
# Function Signature/Definition

def get_sum(a, b):
    return a*b

In [11]:
# Calling a function

result = get_sum(5, 6)

In [8]:
result

30

In [9]:
result = get_sum(10, 20)

In [10]:
result

200

In [33]:
def get_sum_with_interest(a, b, interest_rate=7.5, age=20):
    res = (a/interest_rate)*100
    print(res)

In [35]:
get_sum_with_interest(100000, 0)

1333333.3333333335

In [36]:
get_sum_with_interest(interest_rate=10, a=100000, b=20)

1000000.0

In [24]:
def return_value():
    return 1,2,3,4

In [26]:
a,b,c,d = return_value()

In [21]:
a

1

In [23]:
b

2

In [22]:
c

3

In [27]:
d

4

In [28]:
def return_list():
    return [1,3,5,6]

In [29]:
lst = return_list()

In [30]:
type(lst)

list

In [37]:
def first_function():
    def inside_functions():
        print("Inside Function is called...")
        
    print("First Function welcomes you! :)")
    inside_functions()

In [38]:
first_function()

First Function welcomes you! :)
Inside Function is called...

In [48]:
sum1 = 0

def get_total_sum(lst):
    sum1 = 0
    for i in lst:
        sum1 += i
        
    return sum1

In [49]:
result = get_total_sum([1,2,3,4,5])

In [50]:
result

15

In [51]:
lst = [1,2,3,4,5]

In [53]:
len(lst)

5

In [ ]:
# my_function.py

def get_total_sum(lst):
    sum1 = 0
    for i in lst:
        sum1 += i
        
    return sum1

In [54]:
import myfunction.get_total_sum

ModuleNotFoundError: No module named 'get_total_sum'

In [55]:
# List Comprehension

In [64]:
lst = [1,2,3,4,5]

In [65]:
for i in lst:
    if i > 3:
        print(i*i)

16
25

In [61]:
result = [num*num for num in lst if num > 3]

In [62]:
result

[16, 25]