jupyter notebook file extension --> <file_name>.ipynb

### Variables in Python

Data --> Any processed information is data

Variable --> placeholder for data/can be used to store data

Data Storing Devices --> HDD, RAM, SSD, Pen Drives, Disks

datatype variable_name = data;

Data Types : 
Integer
String
Float
Boolean
Date
Char

int age = 20;

float weight = 65.5;

In [1]:
age = "Fifty"

In [2]:
age

'Fifty'

In [3]:
type(age)

str

In [4]:
age = 50

In [5]:
type(age)

int

In [6]:
int age = 40

SyntaxError: invalid syntax (2573766507.py, line 1)

In [7]:
age = 50
name = "Jeevan"
city = "Mumbai"
is_old = False
joining_date = "2022/04/11"

In [ ]:
# print("Age : %d\nname : %s\ncity : %s\nis_old : %b\n",age,name,city,is_old)

In [8]:
print("Age : ", age, "\nName : ", name, "\nCity : ", city, "\nis_old : ", is_old, "\nJoining Date : ", joining_date)

Age :  50
Name :  Jeevan
City :  Mumbai
is_old :  False
Joining Date :  2022/04/11

In [11]:
print(type(age))
print(type(name))
print(type(city))
print(type(is_old))
print(type(joining_date))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'str'>

In [ ]:
num4 = 50
num5 = 60
num6 = 70

In [29]:
num4, num5, country = 50, 60, 'India', 70

ValueError: too many values to unpack (expected 3)

In [30]:
num4, num5, country = 50, 60, 'India'

In [26]:
num4

50

In [27]:
num5

60

In [28]:
country

'India'

In [31]:
num1 = num2 = num3 = 50

In [33]:
print(num1)
print(num2)
print(num3)

50
50
50

In [34]:
num1 = 60

In [35]:
print(num1)
print(num2)
print(num3)

60
50
50

In [48]:
n1 = 10
n2 = n1

In [49]:
print(n1)
print(n2)

10
10

In [50]:
print(id(n1))
print(id(n2))

4550541840
4550541840

In [51]:
n1 = 50

In [52]:
print(n1)
print(n2)

50
10

In [53]:
print(id(n1))
print(id(n2))

4550543120
4550541840

In [46]:
n2 = 60

In [47]:
print(n1)
print(n2)

50
60

In [54]:
a = 10
b = 10

In [55]:
id(a)

4550541840

In [56]:
id(b)

4550541840

In [57]:
a = 50

In [58]:
id(a)

4550543120

In [9]:
# Strings are immutable i.e. can't be changed
name = "Suvid" # re-assignment

In [10]:
name

'Suvid'

In [8]:
# Strings are array of characters
name[0] = "s"

TypeError: 'str' object does not support item assignment

In [6]:
name[1]

'h'

In [7]:
name[2]

'u'

In [ ]:
's', 'u', 'v', 'i', 'd' ==> 'suvid'

In [17]:
import datetime