In [ ]:
print('Hello World!')

Hello World!

In [ ]:
print(12.5)

12.5

Variables in Python :
Data Holder

In [ ]:
name = 'I am Rushi, I live in Ch. Sambhaji Nagar in Gadiya.'

In [ ]:
print(name)

I am Rushi, I live in Ch. Sambhaji Nagar in Gadiya.

In [ ]:
type('2023-05-15')

str

In [ ]:
str1 = 'I am'
str2 = 'Rushikesh'

print(str1)
print(str2)

I am
Rushikesh

In [ ]:
# Concatenation operator :
str1 + ' ' + str2

'I am Rushikesh'

In [ ]:
'12' + str(5)

'125'

In [ ]:
12 + 24.5 + 3431 * 342 / 2

586737.5

Syntax --> Set of rules

In [ ]:
print('Tushar')

Tushar

In [ ]:
name = 'Tushar'

In [ ]:
name1 = 'Tushar' # 1name not allowed

In [ ]:
full_name = 'Tushar G'
first_name = 'Tushar'

In [ ]:
first_name, last_name = 'Tushar', 'Gupta'

In [ ]:
first_name

'Tushar'

In [ ]:
last_name

'Gupta'

# IF ELSE Statements

In [ ]:
marks = 35

In [ ]:
if (marks >= 35) :
  print('Passed')

Passed

In [ ]:
user = input("Write your user name : ")

Write your user name : Akshay

In [ ]:
user

'Akshay'

In [ ]:
password = input("Write your password : ")

Write your password : Abhi@123

In [ ]:
age = int(input("Mention your age : "))

Mention your age : 15

In [ ]:
type(age)

int

In [ ]:
if (user == 'Abhi') and (password == 'Abhi@123') :
  print('Welcome Abhi!')
else :
  print("Invalid Credentials.")

Welcome Abhi!

## **Data Structures in Python**

List, Tuple, Set, Dictionary

In [ ]:
city1 = 'Ahmedabad'
city2 = 'Pune'
city3 = 'Surat'
city4 = 'Mumbai'

In [ ]:
person1 = [1, 'Rushikesh', 'Ch. Sambhaji Nagar', 21, 24000, 21]
person2 = [2, 'Abhi', 'Pune', 26, 45000.50, 26]

In [ ]:
person1

[1, 'Rushikesh', 'Ch. Sambhaji Nagar', 21, 24000, 21]

In [ ]:
List --> It's a heterogeneous data structure. It is mutable. It stores insertion order.

In [ ]:
person1[0]

1

In [ ]:
person2[1]

'Abhi'

In [ ]:
person2[4]

45000.5

In [ ]:
person1[3] = 22

In [ ]:
person1

[1, 'Rushikesh', 'Ch. Sambhaji Nagar', 22, 24000]

In [ ]:
List slicing -->

In [ ]:
person1[1:3]

['Rushikesh', 'Ch. Sambhaji Nagar']

In [ ]:
person1[2:]

['Ch. Sambhaji Nagar', 22, 24000]

In [ ]:
person1[:3]

[1, 'Rushikesh', 'Ch. Sambhaji Nagar']

In [ ]:
Tuple --> It's a heterogeneous data structure. It is im-mutable. It stores insertion order.

In [ ]:
tuple1 = (1, 'Rushikesh', 'Ch. Sambhaji Nagar', 21, 24000, 21)

In [ ]:
tuple1

(1, 'Rushikesh', 'Ch. Sambhaji Nagar', 21, 24000, 21)

In [ ]:
tuple1[3] = 24

TypeError: ignored

In [ ]:
Set --> It is again heterogenous data structure. It does not hold the data in the insertion order. It stores only distinct values and removes duplicate values.

In [ ]:
set1 = {1, 'Rushikesh', 'Ch. Sambhaji Nagar', 21, 24000, 21}

In [ ]:
set1

{1, 21, 24000, 'Ch. Sambhaji Nagar', 'Rushikesh'}

In [ ]:
Dictionary --> It's a key-value pair data structure

In [ ]:
person11 = {'Name' : 'Rushi', 'Age' : 21, 'Salary' : 24500.5, 'Marks' : {'Physics' : 67, 'Maths' : 89, 'English' : 90}, 'height_wight' : [5.7, 80]}

In [ ]:
person11['Marks']['Physics']

67

In [ ]:
person11['height_wight'][0]

5.7

In [ ]:
event = {'Records': [{'eventVersion': '2.1', 'eventSource': 'aws:s3', 'awsRegion': 'eu-west-1', 'eventTime': '2023-11-09T11:15:52.895Z', 'eventName': 'ObjectCreated:Copy', 'userIdentity': {'principalId': 'AWS:AROA3MADJBNOYXTVWEOVW:ext@gmail.com'}, 'requestParameters': {'sourceIPAddress': '49.36.43.236'}, 'responseElements': {'x-amz-request-id': 'MFRM6JCSXXX9D2PK', 'x-amz-id-2': '2lU75RMFWu9zp9Y2ammhui5bEKZK+BUw3wzlEfKAdgZjntbEAqX54VXelesuMgFFmULIRxP2DsOoZD26RhRR7kOHP9TvSR6Z'}, 's3': {'s3SchemaVersion': '1.0', 'configurationId': '29c752da-faa9-4d52-a230-6b9abec8366d', 'bucket': {'name': 's3-dev-datafactory-stg-001', 'ownerIdentity': {'principalId': 'A18H70OMADTGDZ'}, 'arn': 'arn:aws:s3:::s3-dev-datafactory-stg-001'}, 'object': {'key': 'sources/psa/master/CompanyMaster_20231107070001.csv', 'size': 345, 'eTag': 'cce65fdb6f19818d0727599ac8ff0daa', 'versionId': 'Si4iImgy3Rof.8mdl2gFHdgLublLBx5g', 'sequencer': '00654CBF68B4DF41CB'}}}]}

In [ ]:
event

{'Records': [{'eventVersion': '2.1',
   'eventSource': 'aws:s3',
   'awsRegion': 'eu-west-1',
   'eventTime': '2023-11-09T11:15:52.895Z',
   'eventName': 'ObjectCreated:Copy',
   'userIdentity': {'principalId': 'AWS:AROA3MADJBNOYXTVWEOVW:ext@gmail.com'},
   'requestParameters': {'sourceIPAddress': '49.36.43.236'},
   'responseElements': {'x-amz-request-id': 'MFRM6JCSXXX9D2PK',
    'x-amz-id-2': '2lU75RMFWu9zp9Y2ammhui5bEKZK+BUw3wzlEfKAdgZjntbEAqX54VXelesuMgFFmULIRxP2DsOoZD26RhRR7kOHP9TvSR6Z'},
   's3': {'s3SchemaVersion': '1.0',
    'configurationId': '29c752da-faa9-4d52-a230-6b9abec8366d',
    'bucket': {'name': 's3-dev-datafactory-stg-001',
     'ownerIdentity': {'principalId': 'A18H70OMADTGDZ'},
     'arn': 'arn:aws:s3:::s3-dev-datafactory-stg-001'},
    'object': {'key': 'sources/psa/master/CompanyMaster_20231107070001.csv',
     'size': 345,
     'eTag': 'cce65fdb6f19818d0727599ac8ff0daa',
     'versionId': 'Si4iImgy3Rof.8mdl2gFHdgLublLBx5g',
     'sequencer': '00654CBF68B4DF41CB'}}}]}

In [ ]:
type(event['Records'])

list

In [ ]:
bucket_name # s3-dev-datafactory-stg-001
file_name # sources/psa/master/CompanyMaster_20231107070001.csv

**Looping in Python**

In [ ]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9,......., 100]

In [ ]:
type(lst)

list

In [ ]:
lst[0]

1

In [ ]:
lst[1]

3

In [ ]:
lst[2]

43

In [ ]:
lst[3]

56

In [ ]:
lst[5]

324

In [ ]:
for i in lst:
  print(i)

1
3
43
56
24
324
782

In [ ]:
for i in lst:
  if (i < 50) :
    print("less than 50 : ", i)
  else :
    print("more than 50 : ", i)

less than 50 :  1
less than 50 :  3
less than 50 :  43
more than 50 :  56
less than 50 :  24
more than 50 :  324
more than 50 :  782

In [ ]:
num = 1

In [ ]:
if (num < 100) and (num%2 == 0):
  print(num)
  num += 1
else :
  num += 1

In [ ]:
num

6

In [ ]:
for i in range(1, 10): # range(start_value=0, stop_value, step=1)
  if i == 5 :
    continue
  print(i)

1
2
3
4
6
7
8
9

In [ ]:
person1 = [1, 'Rushikesh', 'Ch. Sambhaji Nagar', 21, 24000, 21]
person2 = {2, 'Abhi', 'Pune', 26, 45000.50, 26}

In [ ]:
for i in person2:
  print(i)

Pune
2
45000.5
26
Abhi

In [ ]:
person11 = {'Name' : 'Rushi', 'Age' : 21, 'Salary' : 24500.5, 'Marks' : {'Physics' : 67, 'Maths' : 89, 'English' : 90}, 'height_wight' : [5.7, 80]}

In [ ]:
for k, v in person11.items():
  print(k, v)

Name Rushi
Age 21
Salary 24500.5
Marks {'Physics': 67, 'Maths': 89, 'English': 90}
height_wight [5.7, 80]

In [ ]:
for obj in response['Contents']:
  if obj['Key'].split(".")[-1] == 'csv':
      filename = obj['Key'].split("/")[-1]
      print(filename)

Contents

In [ ]:
response = {'Contents' : {'Key' : 'csv/abc.csv'}}

In [ ]:
type(response)

dict

In [ ]:
response['Contents']['Key'].split(".")[-1]

'csv'

In [ ]:
Variables
Data Types
IF ELSE
Data Structures
Looping
List
List comprehension
Functions
Map, Reduce, Filter
Lambda Functions

In [1]:
lst = [1, 24, 642, 123, 245, 632, 'asf, 123', 24.54]

In [2]:
for i in [1, 4, 7]:
  print(lst[i])

24
245
24.54

In [ ]:
for i in range(1, 11):
  if i == 5:
    continue
  if i == 6:
    print(i*i*i)
  if i == 10:
    print
  print(i*i)

1
4
9
16
36
49
64
81
100

In [ ]:
[i*i if i != 5 else None for i in range(1, 11) if i != 5]

[1, 4, 9, 16, 36, 49, 64, 81, 100]

**Functions in Python**

In [ ]:
# It's a block of code that is re-usable
# user defined function/in-built functions

In [ ]:
def get_result(num1, num2, num3=3, num4=5): # positional arguments, keyword argument
  print(num1*num2*num3*num4)

In [ ]:
get_result(1, 2)

30

In [ ]:
get_result(1, 2, 4)

40

In [ ]:
int('4')

4

In [ ]:
type(int('4'))

int

**Anonymous Function / Lambda Functions in Python**

**MAP, FILTER, REDUCE**

In [ ]:
lst1 = [1, 2, 3, 4, 5]

In [ ]:
def get_multiplication(num1, num2):
  return num1*num2

In [ ]:
for i in lst1:
  print(get_multiplication(i))

10
20
30
40
50

In [ ]:
get_multiplication(4, 5)

20

In [ ]:
multiple = lambda num1,num2:num1*num2

In [ ]:
multiple(*[4,5])

20

In [ ]:
def check_even(num):
  if num % 2 == 0:
    return True
  else :
    return False

In [ ]:
lst1 = [1, 2, 3, 4, 5, 6]

In [ ]:
list(filter(check_even, lst1))

[2, 4, 6]

In [ ]:
import functools

In [ ]:
functools.reduce(lambda x, y: x+y, [1, 2, 3, 4, 5, 'X'])

15

In [ ]:
def check_greater_val(num1, num2):
  if num1 > num2:
    return num1
  else :
    return num2

In [ ]:
functools.reduce(check_greater_val, [2, 23, 542, 1234, 2, 12, 452])

1234

In [ ]:
functools.reduce(lambda x, y:x+y, ['h','e','l','l','o'])

'hello'

**Problem 1**

Take age or year or birth as an input from user and tell them when they will turn 100 years old.
They can then optionally provide a year and your program must tell their age in that particular year.

**Problem 2**

Create a game to guess the number which will be in between 1 to 30.
User should only have 10 guesses to guess the number.
Always print number of guesses left.
Print number of guesses user took to finish.

**Problem 3**

Pettern printing program

**Problem 4**

Snake ladder program

In [ ]:
import random

In [ ]:
for i in range(1, 6):
  print('*'*i)

*
**
***
****
*****

In [ ]:
1
12
123
1234
12345

*****
****
***
**
*

In [13]:
from datetime import datetime

In [14]:
user_age = int(input("Enter your current age : "))

Enter your current age : 25

In [15]:
current_year = datetime.now().year

In [16]:
print("You'll be 100 yrs old in the year of : ", (100-user_age) + current_year)

You'll be 100 yrs old in the year of :  2098

In [19]:
user_year = int(input("Check what will be your age in year of : "))

Check what will be your age in year of : 2028

In [20]:
print("Your total age would be : ", (user_year-current_year)+user_age)

Your total age would be :  30

In [33]:
try :
  user_age = int(input("Enter your current age : "))
except:
  print("Invalid number. Please try again.")

Enter your current age : 56d
Invalid number. Please try again.

**Questions Set - 2**

a. Write a Python program to square each element of a given list using the map function.

b. Write a function that takes a list of numbers and returns a new list with only the even numbers.

c. Write a function that takes a dictionary and returns a new dictionary with only the key-value pairs where the value is an even number.

d. Write a function that takes two numbers as input and returns their division. Handle the ZeroDivisionError exception.

e. event = {'Records': [{'eventVersion': '2.1', 'eventSource': 'aws:s3', 'awsRegion': 'eu-west-1', 'eventTime': '2023-11-09T11:15:52.895Z', 'eventName': 'ObjectCreated:Copy', 'userIdentity': {'principalId': 'AWS:AROA3MADJBNOYXTVWEOVW:ext@gmail.com'}, 'requestParameters': {'sourceIPAddress': '49.36.43.236'}, 'responseElements': {'x-amz-request-id': 'MFRM6JCSXXX9D2PK', 'x-amz-id-2': '2lU75RMFWu9zp9Y2ammhui5bEKZK+BUw3wzlEfKAdgZjntbEAqX54VXelesuMgFFmULIRxP2DsOoZD26RhRR7kOHP9TvSR6Z'}, 's3': {'s3SchemaVersion': '1.0', 'configurationId': '29c752da-faa9-4d52-a230-6b9abec8366d', 'bucket': {'name': 's3-dev-datafactory-stg-001', 'ownerIdentity': {'principalId': 'A18H70OMADTGDZ'}, 'arn': 'arn:aws:s3:::s3-dev-datafactory-stg-001'}, 'object': {'key': 'sources/psa/master/CompanyMaster_20231107070001.csv', 'size': 345, 'eTag': 'cce65fdb6f19818d0727599ac8ff0daa', 'versionId': 'Si4iImgy3Rof.8mdl2gFHdgLublLBx5g', 'sequencer': '00654CBF68B4DF41CB'}}}]}
Get the file name and bucket name from above dictionary