### Data Structures in PythonÂ¶
Data Structures --> Way of storing data

#### Data Structures in Python :
##### In-built Data Structure
List

Tuple

Set

Dictionary

##### User defined data structures
Array

Queue

### List

--> It's a heterogenous (you can store all type of data) data structure

--> It's mutable (you can modify the existing list/list elements)

In [2]:
# Q. How to declare List in python
# A. We can declare List in python using list() or []

list1 = []
list2 = list()

In [2]:
print(type(list1))
print(type(list2))

<class 'list'>
<class 'list'>

#### Declaring list

In [3]:
# Q. Can you add any type of values in List
# A. Yes, List is a heterogeneous data structure. We can have values of any data type in List

list3 = [1, 1, 3, 5, 'Mayur', 'Jeevan', False, 120.5]

In [38]:
list3

[1, 1, 3, 5, 'Mayur', 'Jeevan', False, 120.5]

#### Accessing list elements

In [4]:
# Q. How to access elements of List
# A. You can access the elements of a list in Python using indexing. 
#    The index of the first element in the list is 0, and the index of the last element is the length of the list minus 1

list3[3]

5

In [29]:
for x in list3:
    print(x)

1
1
5
Akshay
Jeevan
5000
5000
False
120.5

#### List Slicing

In [30]:
# List Slicing --> another way of accessing values of list
print(list3[:]) # all the values to be shown

print(list3[2:]) # all the values from 2nd position to be shown)

print(list3[:5]) # [2:] --> including 2nd position value, [:2] --> excludes 2nd position value

print(list3[:6]) # --> includes all the values till 6th position, excluding 6th position value

print(list3[4:6]) # --> print all the values from 4th position till 6th position, excluding values at 6th position

[1, 1, 5, 'Akshay', 'Jeevan', 5000, 5000, False, 120.5]
[5, 'Akshay', 'Jeevan', 5000, 5000, False, 120.5]
[1, 1, 5, 'Akshay', 'Jeevan']
[1, 1, 5, 'Akshay', 'Jeevan', 5000]
['Jeevan', 5000]

In [15]:
list3

[1, 1, 3, 5, 'Mayur', 'Jeevan', False, 120.5]

#### Modifying the existing element

In [39]:
list3[4] = 'Akshay'

In [40]:
list3

[1, 1, 3, 5, 'Akshay', 'Jeevan', False, 120.5]

#### Adding new elements to List

In [41]:
list3.append('Prajakta') # appends the value at the end of the list

In [42]:
list3

[1, 1, 3, 5, 'Akshay', 'Jeevan', False, 120.5, 'Prajakta']

In [5]:
list3.insert(6, 5000) ## insert values at given position, here we're adding 5000 at 6th position in list3

In [44]:
list3

[1, 1, 3, 5, 'Akshay', 'Jeevan', 5000, False, 120.5, 'Prajakta']

In [47]:
list3.extend((2, 3, 'Mayur')) # extend --> used to add other data structures in list

In [48]:
list3

[1,
 1,
 3,
 5,
 'Akshay',
 'Jeevan',
 5000,
 False,
 120.5,
 'Prajakta',
 2,
 3,
 'Mayur',
 2,
 3,
 'Mayur']

#### Deleting the values from List

In [25]:
del(list3[2])

In [26]:
list3

[1, 1, 5, 'Akshay', 'Jeevan', 5000, 5000, False, 120.5, 'Prajakta']

In [27]:
a = list3.pop()

In [28]:
a

'Prajakta'

In [6]:
# create a list
numbers = [1, 2, 3, 4, 5]

# remove a specific value from the list
numbers.remove(3) # removes the value 3
print(numbers) # Output: [1, 2, 4, 5]

# remove a value by its index
del numbers[0] # removes the first value (index 0)
print(numbers) # Output: [2, 4, 5]

# remove a range of values by their indexes
del numbers[1:3] # removes the second and third values (indexes 1 and 2)
print(numbers) # Output: [2]

[1, 2, 4, 5]
[2, 4, 5]
[2]

### Tuples

A Tuple is an immutable sequence of values. 

Once a tuple is created, its values cannot be modified.

In [53]:
# Tuples
# --> It's immutable data structure

tup1 = ()

In [54]:
type(tup1)

tuple

In [8]:
tup2 = (1, 1, 3, 26, 'Mayur', 11.4)

In [9]:
type(tup2)

tuple

#### Accessing elements of Tuple

To access the values in a tuple, you can use indexing, just like with a list:

In [10]:
tup2[3] # Using indexing

26

In [12]:
# You can also use slicing to get a range of values from a tuple:

# slice the tuple
print(tup2[3:])

(26, 'Mayur', 11.4)

In [69]:
tup2[3] = 10 # Can't modify the existing values as tuples are immutable in nature

TypeError: 'tuple' object does not support item assignment

Since tuples are immutable, you cannot modify their values once they are created. However, you can create a new tuple by concatenating two or more tuples:

In [15]:
tup2 = tup2 + (4, 5, 6) # This is not overwriting the existing tuple, it's creating new tuple in the memory

In [16]:
tup2

(1, 1, 3, 26, 'Mayur', 11.4, 4, 5, 6)

#### Dictionary

A dictionary is an unordered collection of key-value pairs, where each key is unique and maps to a value. 

Dictionaries are enclosed in curly braces and separated by commas. 

Dictionary elements can be accessed using keys, and they can be modified using various methods.

In [83]:
dict1 = dict() # Mutable data structure

In [71]:
type(dict1)

dict

In [78]:
dict2 = {'name' : ['Vaibhav', 'Akshada'], 'age' : [20, 40], } # {key : value} pair

In [79]:
print(dict2)
print(type(dict2))

{'name': ['Vaibhav', 'Akshada'], 'age': [20, 40]}
<class 'dict'>

In [80]:
dict2['name']

['Vaibhav', 'Akshada']

In [123]:
dict2['name'][1]

'Akshada'

In [18]:
car_dict = {"brand" : "Mahindra", "electric" : False, "year" : 2021, "colors" : ['red', 'black', 'white']}

In [19]:
car_dict

{'brand': 'Mahindra',
 'electric': False,
 'year': 2021,
 'colors': ['red', 'black', 'white']}

In [20]:
car_dict['brand'] = 'Tata' # modifind the value of existing key

In [21]:
car_dict

{'brand': 'Tata',
 'electric': False,
 'year': 2021,
 'colors': ['red', 'black', 'white']}

In [22]:
car_dict["Price"] = 1200000 # Adding new key-value pair in existing dictionary

In [23]:
car_dict

{'brand': 'Tata',
 'electric': False,
 'year': 2021,
 'colors': ['red', 'black', 'white'],
 'Price': 1200000}

In [24]:
car_dict.keys()

dict_keys(['brand', 'electric', 'year', 'colors', 'Price'])

In [25]:
car_dict.values()

dict_values(['Tata', False, 2021, ['red', 'black', 'white'], 1200000])

In [26]:
car_dict.items()

dict_items([('brand', 'Tata'), ('electric', False), ('year', 2021), ('colors', ['red', 'black', 'white']), ('Price', 1200000)])

In [27]:
del car_dict['Price']
car_dict.pop('year') # .pop() always returns the deleted value

2021

In [28]:
car_dict

{'brand': 'Tata', 'electric': False, 'colors': ['red', 'black', 'white']}

In [29]:
car_dict['year'] = 2021

In [30]:
car_dict

{'brand': 'Tata',
 'electric': False,
 'colors': ['red', 'black', 'white'],
 'year': 2021}

#### Set

A set is an unordered collection of unique elements. 

Sets are enclosed in curly braces or can be created using the set() constructor. 

Sets are useful for removing duplicates and performing mathematical set operations such as union, intersection, and difference.

In [31]:
# Set --> You can have only distinct values, mutable in nature, unordered

In [32]:
set1 = set()
set2 = {1, 1, 2, 3, 4, 'Tushar', 'Tushar', 'Mayur'}

In [33]:
print(type(set1))
print(type(set2))

<class 'set'>
<class 'set'>

In [34]:
set2

{1, 2, 3, 4, 'Mayur', 'Tushar'}

In [35]:
set2.add('Vaibhav')

In [36]:
set2

{1, 2, 3, 4, 'Mayur', 'Tushar', 'Vaibhav'}

In [37]:
set2.remove('Vaibhav')

In [38]:
set2

{1, 2, 3, 4, 'Mayur', 'Tushar'}

You can also perform set operations such as union, intersection, and difference using the |, &, and - operators, respectively:

In [39]:
# perform set operations
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# union
print(set1 | set2) # Output: {1, 2, 3, 4, 5, 6, 7, 8}

# intersection
print(set1 & set2) # Output: {4, 5}

# difference
print(set1 - set2) # Output: {1, 2, 3}

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}

#### Arrays

Arrays are a type of data structure that stores a collection of elements of the same data type. 

The difference between arrays and lists in Python is that arrays are homogeneous, meaning all elements must be of the same type, while lists can store elements of different types.

Arrays can also be useful for numerical computations and data analysis, as they can be more efficient and use less 
memory than lists. However, they are not as flexible as lists because they require elements to be of the same type.

To use arrays in Python, you need to import the array module.

In [40]:
import array

# create an array of integers
my_array = array.array('i', [1, 2, 3, 4, 5])

# print the array
print(my_array) # Output: array('i', [1, 2, 3, 4, 5])

array('i', [1, 2, 3, 4, 5])

The first argument in the array() function is the type code, which specifies the data type of the array. In this case, 'i' stands for integer.

In [41]:
# You can access elements of an array using indexing, just like with lists:

# access elements of the array
print(my_array[0]) # Output: 1
print(my_array[2]) # Output: 3

1
3

In [42]:
# You can also modify elements of the array by assigning new values to them:

# modify elements of the array
my_array[1] = 10
my_array[3] = 20
print(my_array) # Output: array('i', [1, 10, 3, 20, 5])

array('i', [1, 10, 3, 20, 5])