### For Loops, While Loops

To iterate over values/lists

In [1]:
# In C
# for(int i=1; i<=10; i++){
#     print(i*i)
# }

In [3]:
for i in range(1, 11, 1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [4]:
for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

In [5]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [6]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [16]:
lst1 = [1, 'Vaibhav', 4, 52, 102.65, 'Ankita']

In [17]:
# Q. Write a program to print data type of all the elements in the list

for val in lst1:
    # print("Data Type for ",val," : ",type(val))
    print(f"Data Type for {val} : ", type(val)) # f-string

Data Type for 1 :  <class 'int'>
Data Type for Vaibhav :  <class 'str'>
Data Type for 4 :  <class 'int'>
Data Type for 52 :  <class 'int'>
Data Type for 102.65 :  <class 'float'>
Data Type for Ankita :  <class 'str'>

In [18]:
for val in lst1:
    # print("Data Type for ",val," : ",type(val))
    print(f"Data Type for {val} : ", type(val)) # f-string

Data Type for 1 :  <class 'int'>
Data Type for Vaibhav :  <class 'str'>
Data Type for 4 :  <class 'int'>
Data Type for 52 :  <class 'int'>
Data Type for 102.65 :  <class 'float'>
Data Type for Ankita :  <class 'str'>

In [19]:
dict1 = {"Name" : "Vaibhav", "Age" : 25, "City" : "Ch. Sambhaji Nagar", "Salary" : 35000}

In [20]:
dict1.keys()

dict_keys(['Name', 'Age', 'City', 'Salary'])

In [21]:
dict1.values()

dict_values(['Vaibhav', 25, 'Ch. Sambhaji Nagar', 35000])

In [22]:
dict1.items()

dict_items([('Name', 'Vaibhav'), ('Age', 25), ('City', 'Ch. Sambhaji Nagar'), ('Salary', 35000)])

In [24]:
for key,val in dict1.items():
    print(f"Key : {key}, Value : {val}")

Key : Name, Value : Vaibhav
Key : Age, Value : 25
Key : City, Value : Ch. Sambhaji Nagar
Key : Salary, Value : 35000

In [28]:
lst2 = [('Brand', 'Maruti', 'Good'), ('Model', "Alto", 'Good'), ('City', 'Ch. Sambhaji Nagar', 'Good'), ('Price', 12000000, 'Good')]

In [29]:
for i in lst2:
    print(i)

('Brand', 'Maruti', 'Good')
('Model', 'Alto', 'Good')
('City', 'Ch. Sambhaji Nagar', 'Good')
('Price', 12000000, 'Good')

In [30]:
for key,val,res in lst2:
    print(f"Key : {key}, Value : {val}, Res : {res}")

Key : Brand, Value : Maruti, Res : Good
Key : Model, Value : Alto, Res : Good
Key : City, Value : Ch. Sambhaji Nagar, Res : Good
Key : Price, Value : 12000000, Res : Good

In [ ]:
count = 1

while count < 10:
    if count == 5:
        count += 1
        pass
    else : 
        print(f"Value : {count}")
        count += 1