### OOP : Object Oriented Programming

In [20]:
def say_hello(name, age, college):
    if college="Deogiri":
        print(f"Hello {name}, Your total age after 10 years would be : {age+10}")
    else : 
        print(f"Hello {name}, Your total age after 10 years would be : {age+10}")

In [21]:
say_hello("Mayur", 25)

Hello Mayur, Your total age after 10 years would be : 35

In [36]:
# class (Main character here) --> object (to access any element of class, we need to create object of that class)

In [42]:
class Person:
    def __init__(self, name, age): # 
        self.name = name
        self.age = age
        
    def say_hello(self):
        print(f"Hello {self.name}, Your total age after 10 years would be : {self.age+10}")
        
    city = "Nasik"

In [43]:
person1 = Person("Mayur", 25) # Here person1 is object of Person class

In [44]:
person1.say_hello()

Hello Mayur, Your total age after 10 years would be : 35

In [46]:
person1.city

'Nasik'

In [34]:
class Deogiri:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def say_hello(self):
        print(f"Hello {self.name}, Your total age after 20 years would be : {self.age+20}")

In [40]:
person2 = Deogiri("Akshay", 23)

In [41]:
person2.say_hello()

Hello Akshay, Your total age after 20 years would be : 43

In [63]:
class Cars:
    def list_cars(self):
        print("Available Cars : \n\tMaruti\n\tTata\n\tMahindra\n\tKia")

In [64]:
cars1 = Cars()

In [65]:
cars1.list_cars()

Available Cars :
	Maruti
	Tata
	Mahindra
	Kia

In [53]:
# Scope of Variable

In [54]:
extra = 10

def add(num1, num2):
    extra = 20
    return num1+num2+extra

def multiple(num1, num2):
    return extra*num1*num2

In [55]:
add(20, 30)

70

In [56]:
multiple(1,2)

20