In [1]:
# Link for IPL dataset : https://drive.google.com/file/d/18iDDIIZGt8eWxzqbyMIqcn5X7bHINuLw/view

#### Q. Import the IPL matches.csv dataset and get the summary of the dataset

## Cleaning the DataSet

#### Q. Change the name of following players present in 'player_of_match' column :
{'HH Pandya' : 'H Pandya', 'RR Pant' : 'R Pant', 'JJ Bumrah' : 'JS Bumrah'}

#### Q. Replace city name 'Bengaluru' with 'Bengalore'

#### Q. Replace 'venue' name for following stadiums : 
{'M. A. Chidambaram Stadium' : 'MA Chidambaram Stadium, Chepauk', 'M Chinnaswamy Stadium' : 'M. Chinnaswamy Stadium',
    'Rajiv Gandhi Intl. Cricket Stadium' : 'Rajiv Gandhi International Stadium, Uppal'}

#### Q. Convert 'date' column from Object to DateTime dataType

#### Q. Find out the IPL trophy winner team name for each season

#### Q. Create copy of the original ipl matches dataframe

#### Q. Drop all the unpires Column from dataframe

#### Q. Rename column 'player_of_match' with 'man_of_match'

#### Q. Add new column in Dataframe 'is_toss_winner_won' based on following conditions : 
If 'toss_winner' == 'winner' then 'Yes' else 'No'

#### Q. Get the season wise total number of matches played on each stadium

#### Q. Find out the year wise stadium where most number of matches were played

#### Q. Find out the player who received 'man_of_match' award most number of times

#### Q. Find out what's the winning percentage of Mumbai Indians on Wankhede stadium and winning percentage of CSK on Chepauk stadium

#### Q. Found out which team have won most number of IPL trophies

#### Q. Get record of all such matches where team have win_by_wickets > 7 and win_by_runs >= 50

#### Q. Add new 'month' column which will show the month extracted from date column

#### Q. Find out how many teams were playing in each season