### Importing IPL Dataset

Here whenever using open(), we'll have to explicitly close the file pointer

ipl_data = open()

ipl_data.close()

To avoid closing the file pointer externally, we can use 'with' keyword, so that it'll take care of closing the file pointer internally

with open():

In [1]:
import pandas as pd

In [2]:
ipl_matches_df = pd.read_csv(r"Indian Premier League/matches.csv")

In [3]:
ipl_matches_df.count()

id                 756
season             756
city               749
date               756
team1              756
team2              756
toss_winner        756
toss_decision      756
result             756
dl_applied         756
winner             752
win_by_runs        756
win_by_wickets     756
player_of_match    752
venue              756
umpire1            754
umpire2            754
umpire3            119
dtype: int64

### 1.Display top 10 rows of the dataset

In [4]:
ipl_matches_df.head(10)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
5,6,2017,Hyderabad,2017-04-09,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,9,Rashid Khan,"Rajiv Gandhi International Stadium, Uppal",A Deshmukh,NJ Llong,NaN
6,7,2017,Mumbai,2017-04-09,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,N Rana,Wankhede Stadium,Nitin Menon,CK Nandan,NaN
7,8,2017,Indore,2017-04-10,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,bat,normal,0,Kings XI Punjab,0,8,AR Patel,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
8,9,2017,Pune,2017-04-11,Delhi Daredevils,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Delhi Daredevils,97,0,SV Samson,Maharashtra Cricket Association Stadium,AY Dandekar,S Ravi,NaN
9,10,2017,Mumbai,2017-04-12,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,JJ Bumrah,Wankhede Stadium,Nitin Menon,CK Nandan,NaN

### 2. Check last 10 rows of the dataset

In [5]:
ipl_matches_df.tail(10)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
746,11342,2019,Mumbai,02/05/19,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians,bat,tie,0,Mumbai Indians,0,0,JJ Bumrah,Wankhede Stadium,S Ravi,O Nandan,Nanda Kishore
747,11343,2019,Mohali,03/05/19,Kings XI Punjab,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,7,S Gill,IS Bindra Stadium,Bruce Oxenford,C Shamshuddin,KN Ananthapadmanabhan
748,11344,2019,Delhi,04/05/19,Rajasthan Royals,Delhi Capitals,Rajasthan Royals,bat,normal,0,Delhi Capitals,0,5,A Mishra,Feroz Shah Kotla Ground,Ian Gould,Anil Dandekar,Nitin Menon
749,11345,2019,Bengaluru,04/05/19,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,4,S Hetmyer,M. Chinnaswamy Stadium,Nigel Llong,Anil Chaudhary,Ulhas Gandhe
750,11346,2019,Mohali,05/05/19,Chennai Super Kings,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,KL Rahul,IS Bindra Stadium,KN Ananthapadmanabhan,C Shamshuddin,Bruce Oxenford
751,11347,2019,Mumbai,05/05/19,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi
752,11412,2019,Chennai,07/05/19,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould
753,11413,2019,Visakhapatnam,08/05/19,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN
754,11414,2019,Visakhapatnam,10/05/19,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin
755,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong

### 3. Find total number of rows and columns available in Dataset

In [6]:
ipl_matches_df.shape

(756, 18)

### 4. Getting information about our dataset like Total number of rows, total number of columns, datatype of each column and memory required

In [7]:
ipl_matches_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   season           756 non-null    int64
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

### 5. Find out total number of NULL records in each column of DataFrame

In [8]:
ipl_matches_df.isnull().sum()

id                   0
season               0
city                 7
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               4
win_by_runs          0
win_by_wickets       0
player_of_match      4
venue                0
umpire1              2
umpire2              2
umpire3            637
dtype: int64

### 6. Creating copy of original dataframe

In [9]:
ipl_matches_df_orig = ipl_matches_df.copy()

### 7. Drop some columns from the DataFrame where NULL values are more

In [10]:
ipl_matches_df = ipl_matches_df.drop(['umpire1','umpire2','umpire3'], axis=1)

In [11]:
ipl_matches_df.shape

(756, 15)

### 8. Find out player who received player_of_the_match (MOM) award most number of times

In [12]:
ipl_matches_df['player_of_match'].nunique()

226

In [13]:
# value_counts() --> provides you the total number of occurances of each distinct value in a column
ipl_matches_df['player_of_match'].value_counts().head(1)

player_of_match
CH Gayle    21
Name: count, dtype: int64

### 9. Get the unique count of teams participated in IPL history

In [14]:
ipl_matches_df['team1'].unique()

array(['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Delhi Daredevils', 'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Delhi Capitals'], dtype=object)

In [15]:
ipl_matches_df['team1'].nunique()

15

### 10. Get total number of records where match was a "Tie" between 2 teams

In [16]:
ipl_matches_df['result'].value_counts()

result
normal       743
tie            9
no result      4
Name: count, dtype: int64

### 11. Get the number of teams in which we've "Kings" keyword present in team name

In [17]:
len(ipl_matches_df[ipl_matches_df['team1'].str.contains('KINGS', case=False)])

180

### 12. Replace "CH Gayle" with "C Gayle" in winner column of dataframe

In [18]:
# Before replacing the value
ipl_matches_df['player_of_match'].value_counts()

player_of_match
CH Gayle          21
AB de Villiers    20
RG Sharma         17
MS Dhoni          17
DA Warner         17
                  ..
PD Collingwood     1
NV Ojha            1
AC Voges           1
J Theron           1
S Hetmyer          1
Name: count, Length: 226, dtype: int64

In [19]:
ipl_matches_df['player_of_match'] = ipl_matches_df['player_of_match'].replace('CH Gayle', 'C Gayle')

In [20]:
# After replacing the value
ipl_matches_df['player_of_match'].value_counts()

player_of_match
C Gayle           21
AB de Villiers    20
RG Sharma         17
MS Dhoni          17
DA Warner         17
                  ..
PD Collingwood     1
NV Ojha            1
AC Voges           1
J Theron           1
S Hetmyer          1
Name: count, Length: 226, dtype: int64

### 13. Get total records where matches were played on "Wankhede Stadium"

In [21]:
# Filtering the records
# Approach 1 
ipl_matches_df[ipl_matches_df['venue'] == 'Wankhede Stadium']

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue
6,7,2017,Mumbai,2017-04-09,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,N Rana,Wankhede Stadium
9,10,2017,Mumbai,2017-04-12,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,JJ Bumrah,Wankhede Stadium
15,16,2017,Mumbai,2017-04-16,Gujarat Lions,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,6,N Rana,Wankhede Stadium
23,24,2017,Mumbai,2017-04-22,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Mumbai Indians,14,0,MJ McClenaghan,Wankhede Stadium
27,28,2017,Mumbai,2017-04-24,Rising Pune Supergiant,Mumbai Indians,Mumbai Indians,field,normal,0,Rising Pune Supergiant,3,0,BA Stokes,Wankhede Stadium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,11315,2019,Mumbai,10/04/19,Kings XI Punjab,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,3,KA Pollard,Wankhede Stadium
722,11318,2019,Mumbai,13/04/19,Mumbai Indians,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,4,JC Buttler,Wankhede Stadium
726,11322,2019,Mumbai,15/04/19,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,5,SL Malinga,Wankhede Stadium
746,11342,2019,Mumbai,02/05/19,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians,bat,tie,0,Mumbai Indians,0,0,JJ Bumrah,Wankhede Stadium
751,11347,2019,Mumbai,05/05/19,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium

In [22]:
# Approach 2
ipl_matches_df.query("venue == 'Wankhede Stadium'")

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue
6,7,2017,Mumbai,2017-04-09,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,N Rana,Wankhede Stadium
9,10,2017,Mumbai,2017-04-12,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,JJ Bumrah,Wankhede Stadium
15,16,2017,Mumbai,2017-04-16,Gujarat Lions,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,6,N Rana,Wankhede Stadium
23,24,2017,Mumbai,2017-04-22,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Mumbai Indians,14,0,MJ McClenaghan,Wankhede Stadium
27,28,2017,Mumbai,2017-04-24,Rising Pune Supergiant,Mumbai Indians,Mumbai Indians,field,normal,0,Rising Pune Supergiant,3,0,BA Stokes,Wankhede Stadium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,11315,2019,Mumbai,10/04/19,Kings XI Punjab,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,3,KA Pollard,Wankhede Stadium
722,11318,2019,Mumbai,13/04/19,Mumbai Indians,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,4,JC Buttler,Wankhede Stadium
726,11322,2019,Mumbai,15/04/19,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,5,SL Malinga,Wankhede Stadium
746,11342,2019,Mumbai,02/05/19,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians,bat,tie,0,Mumbai Indians,0,0,JJ Bumrah,Wankhede Stadium
751,11347,2019,Mumbai,05/05/19,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium

### 14. Get venue wise total count of matches

In [25]:
ipl_matches_df.head(3)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal"
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium

In [45]:
# select venue, count(*) from ipl_matches
# group by venue

# ipl_matches_df.query('venue == "Saurashtra Cricket Association Stadium"')

ipl_matches_df.loc[ipl_matches_df['venue'] == 'Wankhede Stadium']

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue
6,7,2017,Mumbai,2017-04-09,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,N Rana,Wankhede Stadium
9,10,2017,Mumbai,2017-04-12,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,JJ Bumrah,Wankhede Stadium
15,16,2017,Mumbai,2017-04-16,Gujarat Lions,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,6,N Rana,Wankhede Stadium
23,24,2017,Mumbai,2017-04-22,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Mumbai Indians,14,0,MJ McClenaghan,Wankhede Stadium
27,28,2017,Mumbai,2017-04-24,Rising Pune Supergiant,Mumbai Indians,Mumbai Indians,field,normal,0,Rising Pune Supergiant,3,0,BA Stokes,Wankhede Stadium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,11315,2019,Mumbai,10/04/19,Kings XI Punjab,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,3,KA Pollard,Wankhede Stadium
722,11318,2019,Mumbai,13/04/19,Mumbai Indians,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,4,JC Buttler,Wankhede Stadium
726,11322,2019,Mumbai,15/04/19,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,5,SL Malinga,Wankhede Stadium
746,11342,2019,Mumbai,02/05/19,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians,bat,tie,0,Mumbai Indians,0,0,JJ Bumrah,Wankhede Stadium
751,11347,2019,Mumbai,05/05/19,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium

In [ ]:
Saurashtra Cricket Association Stadium -> 10
Wankhede Stadium -> 73

In [33]:
ipl_matches_df['venue'].value_counts()

venue
Eden Gardens                                            77
M Chinnaswamy Stadium                                   73
Wankhede Stadium                                        73
Feroz Shah Kotla                                        67
Rajiv Gandhi International Stadium, Uppal               56
MA Chidambaram Stadium, Chepauk                         49
Sawai Mansingh Stadium                                  47
Punjab Cricket Association Stadium, Mohali              35
Maharashtra Cricket Association Stadium                 21
Subrata Roy Sahara Stadium                              17
Dr DY Patil Sports Academy                              17
Kingsmead                                               15
Punjab Cricket Association IS Bindra Stadium, Mohali    14
SuperSport Park                                         12
Sardar Patel Stadium, Motera                            12
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium     11
Brabourne Stadium                                       11
Saurashtra Cricket Association Stadium                  10
Holkar Cricket Stadium                                   9
Himachal Pradesh Cricket Association Stadium             9
Rajiv Gandhi Intl. Cricket Stadium                       8
M. A. Chidambaram Stadium                                8
New Wanderers Stadium                                    8
Feroz Shah Kotla Ground                                  7
Barabati Stadium                                         7
M. Chinnaswamy Stadium                                   7
St George's Park                                         7
Newlands                                                 7
JSCA International Stadium Complex                       7
Sheikh Zayed Stadium                                     7
Dubai International Cricket Stadium                      7
IS Bindra Stadium                                        7
Shaheed Veer Narayan Singh International Stadium         6
Sharjah Cricket Stadium                                  6
Nehru Stadium                                            5
Green Park                                               4
De Beers Diamond Oval                                    3
Vidarbha Cricket Association Stadium, Jamtha             3
Buffalo Park                                             3
OUTsurance Oval                                          2
ACA-VDCA Stadium                                         2
Name: count, dtype: int64

In [38]:
ipl_matches_df['win_by_runs'].unique()

array([ 35,   0,  15,  97,  17,  51,  27,   5,  21,  14,  26,  82,   3,
        61,  48,  19,  12, 146,   7,   9,  10,  20,   1, 140,  33,   6,
        66,  13,  45,  29,  18,  23,  41,  65,  25, 105,  75,  92,  11,
        24,  38,   8,  78,  16,  53,   2,   4,  31,  55,  98,  34,  36,
        39,  40,  67,  63,  37,  57,  22,  85,  32,  76, 111,  43,  58,
        28,  74,  42,  59,  46,  47,  86,  44,  87, 130,  60,  77,  30,
        50,  93,  72,  62, 138,  71, 144,  80,  64, 102, 118])

In [49]:
ipl_matches_df.groupby('venue')['id'].count()

venue
ACA-VDCA Stadium                                         2
Barabati Stadium                                         7
Brabourne Stadium                                       11
Buffalo Park                                             3
De Beers Diamond Oval                                    3
Dr DY Patil Sports Academy                              17
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium     11
Dubai International Cricket Stadium                      7
Eden Gardens                                            77
Feroz Shah Kotla                                        67
Feroz Shah Kotla Ground                                  7
Green Park                                               4
Himachal Pradesh Cricket Association Stadium             9
Holkar Cricket Stadium                                   9
IS Bindra Stadium                                        7
JSCA International Stadium Complex                       7
Kingsmead                                               15
M Chinnaswamy Stadium                                   73
M. A. Chidambaram Stadium                                8
M. Chinnaswamy Stadium                                   7
MA Chidambaram Stadium, Chepauk                         49
Maharashtra Cricket Association Stadium                 21
Nehru Stadium                                            5
New Wanderers Stadium                                    8
Newlands                                                 7
OUTsurance Oval                                          2
Punjab Cricket Association IS Bindra Stadium, Mohali    14
Punjab Cricket Association Stadium, Mohali              35
Rajiv Gandhi International Stadium, Uppal               56
Rajiv Gandhi Intl. Cricket Stadium                       8
Sardar Patel Stadium, Motera                            12
Saurashtra Cricket Association Stadium                  10
Sawai Mansingh Stadium                                  47
Shaheed Veer Narayan Singh International Stadium         6
Sharjah Cricket Stadium                                  6
Sheikh Zayed Stadium                                     7
St George's Park                                         7
Subrata Roy Sahara Stadium                              17
SuperSport Park                                         12
Vidarbha Cricket Association Stadium, Jamtha             3
Wankhede Stadium                                        73
Name: id, dtype: int64

### 15. Find out on how many venues IPL matches were played on

In [44]:
ipl_matches_df['venue'].nunique()

41

### 16. Check venue wise total winning percentage of team which has won the toss and match as well

In [50]:
ipl_matches_df.columns

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue'],
      dtype='object')

In [64]:
grouped = ipl_matches_df.groupby(['toss_winner', 'winner'])

In [65]:
winner_is_toss_winner = grouped.apply(lambda x : x[x['winner'] == x['toss_winner']])

In [66]:
type(winner_is_toss_winner)

pandas.core.frame.DataFrame

In [67]:
winner_is_toss_winner

                                                id  season            city
toss_winner         winner
Chennai Super Kings Chennai Super Kings 60      61    2008      Chandigarh  \
                                        73      74    2008       Bangalore
                                        86      87    2008           Delhi
                                        121    122    2009  Port Elizabeth
                                        143    144    2009     East London
...                                            ...     ...             ...
Sunrisers Hyderabad Sunrisers Hyderabad 642   7900    2018       Hyderabad
                                        645   7903    2018         Kolkata
                                        663   7921    2018          Jaipur
                                        711  11152    2019           Delhi
                                        733  11329    2019       Hyderabad

                                                   date
toss_winner         winner
Chennai Super Kings Chennai Super Kings 60   2008-04-19  \
                                        73   2008-04-28
                                        86   2008-05-08
                                        121  2009-04-20
                                        143  2009-05-04
...                                                 ...
Sunrisers Hyderabad Sunrisers Hyderabad 642    12/04/18
                                        645    14/04/18
                                        663    29/04/18
                                        711    04/04/19
                                        733    21/04/19

                                                             team1
toss_winner         winner
Chennai Super Kings Chennai Super Kings 60     Chennai Super Kings  \
                                        73     Chennai Super Kings
                                        86        Delhi Daredevils
                                        121    Chennai Super Kings
                                        143    Chennai Super Kings
...                                                            ...
Sunrisers Hyderabad Sunrisers Hyderabad 642         Mumbai Indians
                                        645  Kolkata Knight Riders
                                        663    Sunrisers Hyderabad
                                        711         Delhi Capitals
                                        733  Kolkata Knight Riders

                                                                   team2
toss_winner         winner
Chennai Super Kings Chennai Super Kings 60               Kings XI Punjab  \
                                        73   Royal Challengers Bangalore
                                        86           Chennai Super Kings
                                        121  Royal Challengers Bangalore
                                        143              Deccan Chargers
...                                                                  ...
Sunrisers Hyderabad Sunrisers Hyderabad 642          Sunrisers Hyderabad
                                        645          Sunrisers Hyderabad
                                        663             Rajasthan Royals
                                        711          Sunrisers Hyderabad
                                        733          Sunrisers Hyderabad

                                                     toss_winner
toss_winner         winner
Chennai Super Kings Chennai Super Kings 60   Chennai Super Kings  \
                                        73   Chennai Super Kings
                                        86   Chennai Super Kings
                                        121  Chennai Super Kings
                                        143  Chennai Super Kings
...                                                          ...
Sunrisers Hyderabad Sunrisers Hyderabad 642  Sunrisers Hyderabad
                                        645  Sunrisers Hyderabad
                                        663  Sunrisers Hyderabad
                                        711  Sunrisers Hyderabad
                                        733  Sunrisers Hyderabad

                                            toss_decision  result  dl_applied
toss_winner         winner
Chennai Super Kings Chennai Super Kings 60            bat  normal           0  \
                                        73            bat  normal           0
                                        86          field  normal           0
                                        121           bat  normal           0
                                        143           bat  normal           0
...                                                   ...     ...         ...
Sunrisers Hyderabad Sunrisers Hyderabad 642         field  normal           0
                                        645         field  normal           0
                                        663           bat  normal           0
                                        711         field  normal           0
                                        733         field  normal           0

                                                          winner  win_by_runs
toss_winner         winner
Chennai Super Kings Chennai Super Kings 60   Chennai Super Kings           33  \
                                        73   Chennai Super Kings           13
                                        86   Chennai Super Kings            0
                                        121  Chennai Super Kings           92
                                        143  Chennai Super Kings           78
...                                                          ...          ...
Sunrisers Hyderabad Sunrisers Hyderabad 642  Sunrisers Hyderabad            0
                                        645  Sunrisers Hyderabad            0
                                        663  Sunrisers Hyderabad           11
                                        711  Sunrisers Hyderabad            0
                                        733  Sunrisers Hyderabad            0

                                             win_by_wickets player_of_match
toss_winner         winner
Chennai Super Kings Chennai Super Kings 60                0      MEK Hussey  \
                                        73                0        MS Dhoni
                                        86                4        MS Dhoni
                                        121               0  M Muralitharan
                                        143               0        MS Dhoni
...                                                     ...             ...
Sunrisers Hyderabad Sunrisers Hyderabad 642               1     Rashid Khan
                                        645               5      B Stanlake
                                        663               0   KS Williamson
                                        711               5      J Bairstow
                                        733               9         K Ahmed

                                                                                  venue
toss_winner         winner
Chennai Super Kings Chennai Super Kings 60   Punjab Cricket Association Stadium, Mohali
                                        73                        M Chinnaswamy Stadium
                                        86                             Feroz Shah Kotla
                                        121                            St George's Park
                                        143                                Buffalo Park
...                                                                                 ...
Sunrisers Hyderabad Sunrisers Hyderabad 642   Rajiv Gandhi International Stadium, Uppal
                                        645                                Eden Gardens
                                        663                      Sawai Mansingh Stadium
                                        711                     Feroz Shah Kotla Ground
                                        733          Rajiv Gandhi Intl. Cricket Stadium

[393 rows x 15 columns]

In [68]:
winner_is_toss_winner.groupby('venue').size().reset_index(name='count')

                                                venue  count
0                                    ACA-VDCA Stadium      2
1                                    Barabati Stadium      5
2                                   Brabourne Stadium      7
3                                        Buffalo Park      2
4                               De Beers Diamond Oval      2
5                          Dr DY Patil Sports Academy      9
6   Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...      4
7                 Dubai International Cricket Stadium      3
8                                        Eden Gardens     43
9                                    Feroz Shah Kotla     33
10                            Feroz Shah Kotla Ground      5
11                                         Green Park      4
12       Himachal Pradesh Cricket Association Stadium      5
13                             Holkar Cricket Stadium      7
14                                  IS Bindra Stadium      5
15                 JSCA International Stadium Complex      4
16                                          Kingsmead      9
17                              M Chinnaswamy Stadium     40
18                          M. A. Chidambaram Stadium      4
19                             M. Chinnaswamy Stadium      3
20                    MA Chidambaram Stadium, Chepauk     26
21            Maharashtra Cricket Association Stadium     14
22                                      Nehru Stadium      2
23                              New Wanderers Stadium      3
24                                           Newlands      4
25                                    OUTsurance Oval      2
26  Punjab Cricket Association IS Bindra Stadium, ...      6
27         Punjab Cricket Association Stadium, Mohali     16
28          Rajiv Gandhi International Stadium, Uppal     19
29                 Rajiv Gandhi Intl. Cricket Stadium      2
30                       Sardar Patel Stadium, Motera      6
31             Saurashtra Cricket Association Stadium      4
32                             Sawai Mansingh Stadium     25
33   Shaheed Veer Narayan Singh International Stadium      3
34                            Sharjah Cricket Stadium      2
35                               Sheikh Zayed Stadium      5
36                                   St George's Park      3
37                         Subrata Roy Sahara Stadium      9
38                                    SuperSport Park      8
39       Vidarbha Cricket Association Stadium, Jamtha      1
40                                   Wankhede Stadium     37

In [70]:
data = {'id' : [1,2,3,4,5],
     'name' : ['Mayur', 'Prajakta', 'Ram', 'Bhairav', 'Pooja'],
     'city' : ['Nasik', 'Pune', 'Nasik', 'Nasik', 'Pune']}

In [71]:
test_df = pd.DataFrame(data)

In [72]:
type(test_df)

pandas.core.frame.DataFrame

In [73]:
test_df

   id      name   city
0   1     Mayur  Nasik
1   2  Prajakta   Pune
2   3       Ram  Nasik
3   4   Bhairav  Nasik
4   5     Pooja   Pune

In [75]:
test_df['city'].value_counts()

city
Nasik    3
Pune     2
Name: count, dtype: int64

In [78]:
test_df.groupby(['city']).size().reset_index(name='Number of people')

    city  Number of people
0  Nasik                 3
1   Pune                 2

In [81]:
test_df['pincode'] = ['10001','20001','10001','10002','20002']

In [82]:
test_df

   id      name   city pincode
0   1     Mayur  Nasik   10001
1   2  Prajakta   Pune   20001
2   3       Ram  Nasik   10001
3   4   Bhairav  Nasik   10002
4   5     Pooja   Pune   20002

In [83]:
test_df.groupby(['city','pincode']).size().reset_index(name='Number of people')

    city pincode  Number of people
0  Nasik   10001                 2
1  Nasik   10002                 1
2   Pune   20001                 1
3   Pune   20002                 1

In [ ]:
# select city,pincode,count(*) from table_name group by city,pincode

In [84]:
test_df['Gender'] = ['M','F','M','M','F']

In [85]:
test_df

   id      name   city pincode Gender
0   1     Mayur  Nasik   10001      M
1   2  Prajakta   Pune   20001      F
2   3       Ram  Nasik   10001      M
3   4   Bhairav  Nasik   10002      M
4   5     Pooja   Pune   20002      F

In [87]:
test_df.drop('Gender', axis=1)

   id      name   city pincode
0   1     Mayur  Nasik   10001
1   2  Prajakta   Pune   20001
2   3       Ram  Nasik   10001
3   4   Bhairav  Nasik   10002
4   5     Pooja   Pune   20002