In [1]:
# Link for IPL dataset : https://drive.google.com/file/d/18iDDIIZGt8eWxzqbyMIqcn5X7bHINuLw/view

#### Q. Import the IPL matches.csv dataset and get the summary of the dataset

In [1]:
import pandas as pd

In [2]:
import os

In [3]:
os.getcwd()

'/Users/tushar_gupta/Desktop/SammedTech/Python_Session/Pandas_Python'

In [4]:
os.listdir("../DataSets")

['.DS_Store', 'Indian Premier League']

In [5]:
matches_df = pd.read_csv(r"../DataSets/Indian Premier League/matches.csv")

In [6]:
matches_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   season           756 non-null    int64
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

In [7]:
matches_df.shape

(756, 18)

In [8]:
matches_df.size # (rows*column)

13608

## Cleaning the DataSet

#### Q. Change the name of following players present in 'player_of_match' column :
{'HH Pandya' : 'H Pandya', 'RR Pant' : 'R Pant', 'JJ Bumrah' : 'JS Bumrah'}

In [9]:
matches_df['player_of_match'].nunique()

226

In [10]:
matches_df.iloc[751:]['player_of_match']

751       HH Pandya
752        AS Yadav
753         RR Pant
754    F du Plessis
755       JJ Bumrah
Name: player_of_match, dtype: object

In [11]:
# Approach 1 : assigning new values to existing column using assignment operator ('=')
matches_df['player_of_match'] = matches_df['player_of_match'].replace({'HH Pandya' : 'H Pandya', 'RR Pant' : 'R Pant', 'JJ Bumrah' : 'JS Bumrah'})

In [12]:
# Approach 2 : By using inplace=True to replace new values in existing dataframe
matches_df['player_of_match'].replace({'AS Yadav' : 'A.S. Yadav', 'F du Plessis' : 'Faf du Plessis'}, inplace=True)

In [13]:
matches_df.tail()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
751,11347,2019,Mumbai,05/05/19,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,H Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi
752,11412,2019,Chennai,07/05/19,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians,0,6,A.S. Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould
753,11413,2019,Visakhapatnam,08/05/19,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,R Pant,ACA-VDCA Stadium,NaN,NaN,NaN
754,11414,2019,Visakhapatnam,10/05/19,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,Faf du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin
755,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JS Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong

#### Q. Replace city name 'Bengaluru' with 'Bengalore'

In [14]:
matches_df.query("city == 'Bengaluru'")

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
643,7901,2018,Bengaluru,13/04/18,Kings XI Punjab,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,4,UT Yadav,M Chinnaswamy Stadium,S Ravi,A.D Deshmukh,C Shamshuddin
646,7904,2018,Bengaluru,15/04/18,Rajasthan Royals,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Rajasthan Royals,19,0,SV Samson,M Chinnaswamy Stadium,C Shamshuddin,S Ravi,A.D Deshmukh
654,7912,2018,Bengaluru,21/04/18,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,6,AB de Villiers,M Chinnaswamy Stadium,Chris Gaffaney,O Nandan,A Nanda Kishore
659,7917,2018,Bengaluru,25/04/18,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,5,MS Dhoni,M Chinnaswamy Stadium,Nigel Llong,Virender Kumar Sharma,Anil Chaudhary
664,7922,2018,Bengaluru,29/04/18,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,6,CA Lynn,M Chinnaswamy Stadium,Nigel Llong,Anil Chaudhary,Virender Kumar Sharma
666,7924,2018,Bengaluru,01/05/18,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,normal,0,Royal Challengers Bangalore,14,0,TG Southee,M Chinnaswamy Stadium,Marais Erasmus,Nitin Menon,Yeshwant Barde
686,7944,2018,Bengaluru,17/05/18,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Royal Challengers Bangalore,14,0,AB de Villiers,M Chinnaswamy Stadium,S Ravi,Anil Dandekar,C Shamshuddin
702,11143,2019,Bengaluru,28/03/19,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Mumbai Indians,6,0,JS Bumrah,M. Chinnaswamy Stadium,S Ravi,O Nandan,Yeshwant Barde
712,11153,2019,Bengaluru,05/04/19,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,5,AD Russell,M. Chinnaswamy Stadium,Anil Chaudhary,Chris Gaffaney,O Nandan
715,11311,2019,Bengaluru,07/04/19,Royal Challengers Bangalore,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,4,K Rabada,M. Chinnaswamy Stadium,S Ravi,Yeshwant Barde,O Nandan
734,11330,2019,Bengaluru,21/04/19,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,field,normal,0,Royal Challengers Bangalore,1,0,PA Patel,M. Chinnaswamy Stadium,Vineet Kulkarni,Rod Tucker,Anil Chaudhary
737,11333,2019,Bengaluru,24/04/19,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,field,normal,0,Royal Challengers Bangalore,17,0,AB de Villiers,M. Chinnaswamy Stadium,Bruce Oxenford,C Shamshuddin,Rod Tucker
744,11340,2019,Bengaluru,30/04/19,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,Nigel Llong,Ulhas Gandhe,Anil Chaudhary
749,11345,2019,Bengaluru,04/05/19,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,4,S Hetmyer,M. Chinnaswamy Stadium,Nigel Llong,Anil Chaudhary,Ulhas Gandhe

In [15]:
matches_df['city'].replace({'Bengalore':'Bangalore'}, inplace=True)

In [16]:
matches_df.iloc[[643,646]]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
643,7901,2018,Bengaluru,13/04/18,Kings XI Punjab,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,4,UT Yadav,M Chinnaswamy Stadium,S Ravi,A.D Deshmukh,C Shamshuddin
646,7904,2018,Bengaluru,15/04/18,Rajasthan Royals,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Rajasthan Royals,19,0,SV Samson,M Chinnaswamy Stadium,C Shamshuddin,S Ravi,A.D Deshmukh

In [17]:
matches_df['city'].unique()

array(['Hyderabad', 'Pune', 'Rajkot', 'Indore', 'Bangalore', 'Mumbai',
       'Kolkata', 'Delhi', 'Chandigarh', 'Kanpur', 'Jaipur', 'Chennai',
       'Cape Town', 'Port Elizabeth', 'Durban', 'Centurion',
       'East London', 'Johannesburg', 'Kimberley', 'Bloemfontein',
       'Ahmedabad', 'Cuttack', 'Nagpur', 'Dharamsala', 'Kochi',
       'Visakhapatnam', 'Raipur', 'Ranchi', 'Abu Dhabi', 'Sharjah', nan,
       'Mohali', 'Bengaluru'], dtype=object)

#### Q. Replace 'venue' name for following stadiums : 
{'M. A. Chidambaram Stadium' : 'MA Chidambaram Stadium, Chepauk', 'M Chinnaswamy Stadium' : 'M. Chinnaswamy Stadium',
    'Rajiv Gandhi Intl. Cricket Stadium' : 'Rajiv Gandhi International Stadium, Uppal'}

In [18]:
matches_df['venue'].value_counts()

venue
Eden Gardens                                            77
M Chinnaswamy Stadium                                   73
Wankhede Stadium                                        73
Feroz Shah Kotla                                        67
Rajiv Gandhi International Stadium, Uppal               56
MA Chidambaram Stadium, Chepauk                         49
Sawai Mansingh Stadium                                  47
Punjab Cricket Association Stadium, Mohali              35
Maharashtra Cricket Association Stadium                 21
Subrata Roy Sahara Stadium                              17
Dr DY Patil Sports Academy                              17
Kingsmead                                               15
Punjab Cricket Association IS Bindra Stadium, Mohali    14
SuperSport Park                                         12
Sardar Patel Stadium, Motera                            12
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium     11
Brabourne Stadium                                       11
Saurashtra Cricket Association Stadium                  10
Holkar Cricket Stadium                                   9
Himachal Pradesh Cricket Association Stadium             9
Rajiv Gandhi Intl. Cricket Stadium                       8
M. A. Chidambaram Stadium                                8
New Wanderers Stadium                                    8
Feroz Shah Kotla Ground                                  7
Barabati Stadium                                         7
M. Chinnaswamy Stadium                                   7
St George's Park                                         7
Newlands                                                 7
JSCA International Stadium Complex                       7
Sheikh Zayed Stadium                                     7
Dubai International Cricket Stadium                      7
IS Bindra Stadium                                        7
Shaheed Veer Narayan Singh International Stadium         6
Sharjah Cricket Stadium                                  6
Nehru Stadium                                            5
Green Park                                               4
De Beers Diamond Oval                                    3
Vidarbha Cricket Association Stadium, Jamtha             3
Buffalo Park                                             3
OUTsurance Oval                                          2
ACA-VDCA Stadium                                         2
Name: count, dtype: int64

In [19]:
matches_df['venue'].replace({'M. A. Chidambaram Stadium' : 'MA Chidambaram Stadium, Chepauk', 'M Chinnaswamy Stadium' : 'M. Chinnaswamy Stadium', 'Rajiv Gandhi Intl. Cricket Stadium' : 'Rajiv Gandhi International Stadium, Uppal'}, inplace=True)

In [20]:
matches_df['venue'].value_counts()

venue
M. Chinnaswamy Stadium                                  80
Eden Gardens                                            77
Wankhede Stadium                                        73
Feroz Shah Kotla                                        67
Rajiv Gandhi International Stadium, Uppal               64
MA Chidambaram Stadium, Chepauk                         57
Sawai Mansingh Stadium                                  47
Punjab Cricket Association Stadium, Mohali              35
Maharashtra Cricket Association Stadium                 21
Subrata Roy Sahara Stadium                              17
Dr DY Patil Sports Academy                              17
Kingsmead                                               15
Punjab Cricket Association IS Bindra Stadium, Mohali    14
SuperSport Park                                         12
Sardar Patel Stadium, Motera                            12
Brabourne Stadium                                       11
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium     11
Saurashtra Cricket Association Stadium                  10
Holkar Cricket Stadium                                   9
Himachal Pradesh Cricket Association Stadium             9
New Wanderers Stadium                                    8
IS Bindra Stadium                                        7
Barabati Stadium                                         7
St George's Park                                         7
Newlands                                                 7
JSCA International Stadium Complex                       7
Sheikh Zayed Stadium                                     7
Dubai International Cricket Stadium                      7
Feroz Shah Kotla Ground                                  7
Shaheed Veer Narayan Singh International Stadium         6
Sharjah Cricket Stadium                                  6
Nehru Stadium                                            5
Green Park                                               4
Buffalo Park                                             3
Vidarbha Cricket Association Stadium, Jamtha             3
De Beers Diamond Oval                                    3
OUTsurance Oval                                          2
ACA-VDCA Stadium                                         2
Name: count, dtype: int64

#### Q. Convert 'date' column from Object to DateTime dataType

In [21]:
matches_df.dtypes

id                  int64
season              int64
city               object
date               object
team1              object
team2              object
toss_winner        object
toss_decision      object
result             object
dl_applied          int64
winner             object
win_by_runs         int64
win_by_wickets      int64
player_of_match    object
venue              object
umpire1            object
umpire2            object
umpire3            object
dtype: object

In [22]:
import datetime as dt

In [23]:
import datetime
dd = datetime.datetime.strptime('13/04/18','%d/%m/%y')

In [24]:
dd

datetime.datetime(2018, 4, 13, 0, 0)

In [33]:
matches_df['date'].unique()
# dd --> day, mm --> month, yyyy --> year

array(['2017-04-05', '2017-04-06', '2017-04-07', '2017-04-08',
       '2017-04-09', '2017-04-10', '2017-04-11', '2017-04-12',
       '2017-04-13', '2017-04-14', '2017-04-15', '2017-04-16',
       '2017-04-17', '2017-04-18', '2017-04-19', '2017-04-20',
       '2017-04-21', '2017-04-22', '2017-04-23', '2017-04-24',
       '2017-04-26', '2017-04-27', '2017-04-28', '2017-04-29',
       '2017-04-30', '2017-05-01', '2017-05-02', '2017-05-03',
       '2017-05-04', '2017-05-05', '2017-05-06', '2017-05-07',
       '2017-05-08', '2017-05-09', '2017-05-10', '2017-05-11',
       '2017-05-12', '2017-05-13', '2017-05-14', '2017-05-16',
       '2017-05-17', '2017-05-19', '2017-05-21', '2008-04-18',
       '2008-04-19', '2008-04-20', '2008-04-21', '2008-04-22',
       '2008-04-23', '2008-04-24', '2008-04-25', '2008-04-26',
       '2008-04-27', '2008-04-28', '2008-04-29', '2008-04-30',
       '2008-05-01', '2008-05-02', '2008-05-25', '2008-05-03',
       '2008-05-04', '2008-05-05', '2008-05-06', '2008-05-07',
       '2008-05-08', '2008-05-09', '2008-05-28', '2008-05-10',
       '2008-05-11', '2008-05-12', '2008-05-13', '2008-05-14',
       '2008-05-15', '2008-05-16', '2008-05-17', '2008-05-18',
       '2008-05-19', '2008-05-20', '2008-05-21', '2008-05-23',
       '2008-05-24', '2008-05-26', '2008-05-27', '2008-05-30',
       '2008-05-31', '2008-06-01', '2009-04-18', '2009-04-19',
       '2009-04-20', '2009-04-21', '2009-04-22', '2009-04-23',
       '2009-04-24', '2009-04-25', '2009-04-26', '2009-04-27',
       '2009-04-28', '2009-04-29', '2009-04-30', '2009-05-01',
       '2009-05-02', '2009-05-03', '2009-05-04', '2009-05-05',
       '2009-05-06', '2009-05-07', '2009-05-08', '2009-05-09',
       '2009-05-10', '2009-05-11', '2009-05-12', '2009-05-13',
       '2009-05-14', '2009-05-15', '2009-05-16', '2009-05-17',
       '2009-05-18', '2009-05-19', '2009-05-20', '2009-05-21',
       '2009-05-22', '2009-05-23', '2009-05-24', '2010-03-12',
       '2010-03-13', '2010-03-14', '2010-03-15', '2010-03-16',
       '2010-03-17', '2010-03-18', '2010-03-19', '2010-03-20',
       '2010-03-21', '2010-03-22', '2010-03-23', '2010-03-24',
       '2010-03-25', '2010-03-26', '2010-03-27', '2010-03-28',
       '2010-03-29', '2010-03-30', '2010-03-31', '2010-04-01',
       '2010-04-02', '2010-04-03', '2010-04-04', '2010-04-05',
       '2010-04-06', '2010-04-07', '2010-04-08', '2010-04-09',
       '2010-04-10', '2010-04-11', '2010-04-12', '2010-04-13',
       '2010-04-14', '2010-04-15', '2010-04-16', '2010-04-17',
       '2010-04-18', '2010-04-19', '2010-04-21', '2010-04-22',
       '2010-04-24', '2010-04-25', '2011-04-08', '2011-04-09',
       '2011-04-10', '2011-04-11', '2011-04-12', '2011-04-13',
       '2011-04-14', '2011-04-15', '2011-04-16', '2011-04-17',
       '2011-04-18', '2011-04-19', '2011-04-20', '2011-04-21',
       '2011-04-22', '2011-04-23', '2011-04-24', '2011-04-25',
       '2011-04-26', '2011-04-27', '2011-04-28', '2011-04-29',
       '2011-04-30', '2011-05-01', '2011-05-02', '2011-05-03',
       '2011-05-04', '2011-05-05', '2011-05-06', '2011-05-07',
       '2011-05-08', '2011-05-09', '2011-05-10', '2011-05-11',
       '2011-05-12', '2011-05-13', '2011-05-14', '2011-05-15',
       '2011-05-16', '2011-05-17', '2011-05-18', '2011-05-19',
       '2011-05-20', '2011-05-21', '2011-05-22', '2011-05-24',
       '2011-05-25', '2011-05-27', '2011-05-28', '2012-04-04',
       '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
       '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
       '2012-04-13', '2012-04-19', '2012-04-14', '2012-04-15',
       '2012-04-16', '2012-04-17', '2012-04-18', '2012-05-10',
       '2012-04-20', '2012-04-21', '2012-04-22', '2012-04-23',
       '2012-04-24', '2012-04-25', '2012-04-26', '2012-04-27',
       '2012-04-28', '2012-04-29', '2012-04-30', '2012-05-01',
       '2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
       '2012-05-06', '2012-05-07', '2012-05-08', '2012-05-09',
       '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
       '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
       '2012-05-19', '2012-05-20', '2012-05-22', '2012-05-23',
       '2012-05-25', '2012-05-27', '2013-04-03', '2013-04-04',
       '2013-04-05', '2013-04-06', '2013-04-07', '2013-04-08',
       '2013-04-09', '2013-04-10', '2013-04-11', '2013-04-12',
       '2013-04-13', '2013-04-14', '2013-04-15', '2013-04-16',
       '2013-04-17', '2013-04-18', '2013-04-19', '2013-04-20',
       '2013-04-21', '2013-04-22', '2013-04-23', '2013-05-16',
       '2013-04-24', '2013-04-25', '2013-04-26', '2013-04-27',
       '2013-04-28', '2013-04-29', '2013-04-30', '2013-05-01',
       '2013-05-02', '2013-05-03', '2013-05-04', '2013-05-14',
       '2013-05-05', '2013-05-07', '2013-05-08', '2013-05-09',
       '2013-05-10', '2013-05-11', '2013-05-12', '2013-05-13',
       '2013-05-15', '2013-05-06', '2013-05-17', '2013-05-18',
       '2013-05-19', '2013-05-21', '2013-05-22', '2013-05-24',
       '2013-05-26', '2014-04-16', '2014-04-17', '2014-04-18',
       '2014-04-19', '2014-04-20', '2014-04-21', '2014-04-22',
       '2014-04-23', '2014-04-24', '2014-04-25', '2014-04-26',
       '2014-04-27', '2014-04-28', '2014-04-29', '2014-04-30',
       '2014-05-02', '2014-05-03', '2014-05-04', '2014-05-05',
       '2014-05-06', '2014-05-07', '2014-05-08', '2014-05-09',
       '2014-05-10', '2014-05-11', '2014-05-12', '2014-05-13',
       '2014-05-14', '2014-05-15', '2014-05-18', '2014-05-19',
       '2014-05-20', '2014-05-21', '2014-05-22', '2014-05-23',
       '2014-05-24', '2014-05-25', '2014-05-27', '2014-05-28',
       '2014-05-30', '2014-06-01', '2015-04-08', '2015-04-09',
       '2015-04-10', '2015-04-11', '2015-04-12', '2015-04-13',
       '2015-04-14', '2015-04-30', '2015-04-15', '2015-04-16',
       '2015-04-17', '2015-04-18', '2015-04-19', '2015-04-20',
       '2015-04-21', '2015-04-22', '2015-04-23', '2015-04-24',
       '2015-04-25', '2015-04-26', '2015-04-27', '2015-05-07',
       '2015-04-29', '2015-04-28', '2015-05-01', '2015-05-02',
       '2015-05-03', '2015-05-04', '2015-05-05', '2015-05-06',
       '2015-05-08', '2015-05-09', '2015-05-10', '2015-05-11',
       '2015-05-12', '2015-05-13', '2015-05-14', '2015-05-15',
       '2015-05-16', '2015-05-17', '2015-05-19', '2015-05-20',
       '2015-05-22', '2015-05-24', '2016-04-09', '2016-04-10',
       '2016-04-11', '2016-04-12', '2016-04-13', '2016-04-14',
       '2016-04-15', '2016-04-16', '2016-04-17', '2016-04-18',
       '2016-04-19', '2016-04-20', '2016-04-21', '2016-04-22',
       '2016-04-23', '2016-04-24', '2016-04-25', '2016-04-26',
       '2016-04-27', '2016-04-28', '2016-04-29', '2016-04-30',
       '2016-05-01', '2016-05-02', '2016-05-03', '2016-05-04',
       '2016-05-05', '2016-05-06', '2016-05-07', '2016-05-08',
       '2016-05-09', '2016-05-10', '2016-05-11', '2016-05-12',
       '2016-05-13', '2016-05-14', '2016-05-15', '2016-05-16',
       '2016-05-17', '2016-05-18', '2016-05-19', '2016-05-20',
       '2016-05-21', '2016-05-22', '2016-05-24', '2016-05-25',
       '2016-05-27', '2016-05-29', '07/04/18', '08/04/18', '09/04/18',
       '10/04/18', '11/04/18', '12/04/18', '13/04/18', '14/04/18',
       '15/04/18', '16/04/18', '17/04/18', '18/04/18', '19/04/18',
       '20/04/18', '21/04/18', '22/04/18', '23/04/18', '24/04/18',
       '25/04/18', '26/04/18', '27/04/18', '28/04/18', '29/04/18',
       '30/04/18', '01/05/18', '02/05/18', '03/05/18', '04/05/18',
       '05/05/18', '06/05/18', '07/05/18', '08/05/18', '09/05/18',
       '10/05/18', '11/05/18', '12/05/18', '13/05/18', '14/05/18',
       '15/05/18', '16/05/18', '17/05/18', '18/05/18', '19/05/18',
       '20/05/18', '22/05/18', '23/05/18', '25/05/18', '27/05/18',
       '23/03/19', '24/03/19', '25/03/19', '26/03/19', '27/03/19',
       '28/03/19', '29/03/19', '30/03/19', '31/03/19', '01/04/19',
       '02/04/19', '03/04/19', '04/04/19', '05/04/19', '06/04/19',
       '07/04/19', '08/04/19', '09/04/19', '10/04/19', '11/04/19',
       '12/04/19', '13/04/19', '14/04/19', '15/04/19', '16/04/19',
       '17/04/19', '18/04/19', '19/04/19', '20/04/19', '21/04/19',
       '22/04/19', '23/04/19', '24/04/19', '25/04/19', '26/04/19',
       '27/04/19', '28/04/19', '29/04/19', '30/04/19', '01/05/19',
       '02/05/19', '03/05/19', '04/05/19', '05/05/19', '07/05/19',
       '08/05/19', '10/05/19', '12/05/19'], dtype=object)

In [35]:
matches_df.tail(2)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,date2
754,11414,2019,Visakhapatnam,10/05/19,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,Faf du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin,NaT
755,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JS Bumrah,"Rajiv Gandhi International Stadium, Uppal",Nitin Menon,Ian Gould,Nigel Llong,NaT

#### Q. Insert new column 'date_cleaned' at right of 'date' column which is a standrdized form of 'date' column

In [61]:
# df.insert --> used to add new column at specific index location
matches_df.insert(4, "date_cleaned", pd.to_datetime(matches_df['date'], dayfirst=True, format="mixed"))

In [62]:
matches_df.head(2)

,id,season,city,date,date_cleaned,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN

#### Q. Drop 'date_cleaned' column from dataframe

In [63]:
# axis = 1, to drop any column with column name
# inplace=True, to drop column and apply the changes in existing dataframe

matches_df.drop("date_cleaned", axis=1, inplace=True)

#### Q. Standardize the date column and apply changes in the same column

In [66]:
matches_df['date'] = pd.to_datetime(matches_df['date'], dayfirst=True, format="mixed")

In [67]:
matches_df['date'].tail()

751   2019-05-05
752   2019-05-07
753   2019-05-08
754   2019-05-10
755   2019-05-12
Name: date, dtype: datetime64[ns]

#### Q. Filter the records where season = 2017 and city was 'Pune'

In [69]:
matches_df.loc[(matches_df['city'] == 'Pune') & (matches_df['season'] == 2017)]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
8,9,2017,Pune,2017-04-11,Delhi Daredevils,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Delhi Daredevils,97,0,SV Samson,Maharashtra Cricket Association Stadium,AY Dandekar,S Ravi,NaN
24,25,2017,Pune,2017-04-22,Sunrisers Hyderabad,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,6,MS Dhoni,Maharashtra Cricket Association Stadium,AY Dandekar,A Deshmukh,NaN
28,29,2017,Pune,2017-04-26,Rising Pune Supergiant,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,7,RV Uthappa,Maharashtra Cricket Association Stadium,AY Dandekar,NJ Llong,NaN
32,33,2017,Pune,2017-04-29,Rising Pune Supergiant,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Rising Pune Supergiant,61,0,LH Ferguson,Maharashtra Cricket Association Stadium,KN Ananthapadmanabhan,M Erasmus,NaN
37,38,2017,Pune,2017-05-01,Gujarat Lions,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,5,BA Stokes,Maharashtra Cricket Association Stadium,M Erasmus,C Shamshuddin,NaN
53,54,2017,Pune,2017-05-14,Kings XI Punjab,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,9,JD Unadkat,Maharashtra Cricket Association Stadium,AY Dandekar,A Deshmukh,NaN

#### Q. Find out the IPL trophy winner team name for each season

In [87]:
max_dates = matches_df.groupby('season')['date'].max()

In [88]:
max_dates

season
2008   2008-06-01
2009   2009-05-24
2010   2010-04-25
2011   2011-05-28
2012   2012-05-27
2013   2013-05-26
2014   2014-06-01
2015   2015-05-24
2016   2016-05-29
2017   2017-05-21
2018   2018-05-27
2019   2019-05-12
Name: date, dtype: datetime64[ns]

In [86]:
matches_df.loc[matches_df.groupby('season')['date'].idxmax()][['season','winner']]

     season                 winner
116    2008       Rajasthan Royals
173    2009        Deccan Chargers
233    2010    Chennai Super Kings
306    2011    Chennai Super Kings
380    2012  Kolkata Knight Riders
456    2013         Mumbai Indians
516    2014  Kolkata Knight Riders
575    2015         Mumbai Indians
635    2016    Sunrisers Hyderabad
58     2017         Mumbai Indians
695    2018    Chennai Super Kings
755    2019         Mumbai Indians

#### Q. Create copy of the original ipl matches dataframe

In [89]:
copy_matches_df = matches_df.copy()

#### Q. Create view of existing dataframe

In [90]:
vw_matches_df = matches_df

#### Q. Drop all the unpires Column from dataframe

#### Q. Rename column 'player_of_match' with 'man_of_match'

#### Q. Add new column in Dataframe 'is_toss_winner_won' based on following conditions : 
If 'toss_winner' == 'winner' then 'Yes' else 'No'

#### Q. Get the season wise total number of matches played on each stadium

#### Q. Find out the year wise stadium where most number of matches were played

#### Q. Find out the player who received 'man_of_match' award most number of times

#### Q. Find out what's the winning percentage of Mumbai Indians on Wankhede stadium and winning percentage of CSK on Chepauk stadium

#### Q. Found out which team have won most number of IPL trophies

#### Q. Get record of all such matches where team have win_by_wickets > 7 and win_by_runs >= 50

#### Q. Add new 'month' column which will show the month extracted from date column

#### Q. Find out how many teams were playing in each season