### Pandas Module

Pandas is mostly used by data engineers, data analysts and data scientists. 

One of the most important library to explore as you'll be working 50% of time on the pandas library.

Used for data analysis purpose. 

Used to work with large files.

In [1]:
try:
    import pandas as pd
except ModuleNotFoundError:
    print("Pandas module is not installed.")
    print("Installing Pandas library for you...")
    !pip install pandas

In [4]:
# Data Structures : List, Tuple, Set, Dict, Array
## Data Structure in Pandas : Dataframe --> It's like a database table, it's in tabular format. It's built on basis of Numpy Array.

In [16]:
list1 = [('Mayur', 'Prajakta', 'Mohini'), (23, 24, 25), ('Nasik', 'Mumbai', 'Banglore')]

In [17]:
list1

[('Mayur', 'Prajakta', 'Mohini'),
 (23, 24, 25),
 ('Nasik', 'Mumbai', 'Banglore')]

In [9]:
list1[0][0]

'Mayur'

In [10]:
list1[0][1]

'Prajakta'

In [11]:
list1[0][2]

'Mohini'

In [22]:
# Let's create a dataframe in pandas
data = {"name" : ['Mayur', 'Prajakta', 'Mohini'], "age" : [23, 24, 25], "city" : ['Nasik', 'Mumbai', 'Banglore']}
df = pd.DataFrame(data, index=[1, 2, 3])

In [23]:
type(df)

pandas.core.frame.DataFrame

In [24]:
df

       name  age      city
1     Mayur   23     Nasik
2  Prajakta   24    Mumbai
3    Mohini   25  Banglore

In [30]:
df2 = pd.read_csv("../Python_Basics/test_file.txt", header=None)

In [32]:
type(df2)

pandas.core.frame.DataFrame

In [33]:
df2

                                0
0            This is a test file.
1              It's a first File.
2  Welcome to Python Programming.

In [37]:
df2.loc[0]

0    This is a test file.
Name: 0, dtype: object

In [39]:
print(df2.loc[1])

0    It's a first File.
Name: 1, dtype: object